body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* MAIN */

.main-container {
    display: flex;
    height: calc(100vh - 100px)
}

/* LATO SINISTRO MAIN */

.container-sinistro {
    height: 100%;
    width: 200px;
    background-color: black;
    margin: 0;
    color: white;
}

.spotify-playlist {
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.spotify {
    position: relative;
    bottom: 49px;
    left: 13px;
}

.logo {
    width: 65%;
    margin-bottom: 20px;
    position: absolute;
    left: 8px;
}

.logo2 {
    position: absolute;
    filter: opacity(0);
    width: 80%;
    right: 18px;
}

.ricerca {
    margin-top: 55px;
    padding-top: 10px;
}

.spazio-ricerca {
    margin-bottom: 10px;
    filter: opacity(0.5);
    padding-left: 10%;
}

.spazio-ricerca0 {
    margin-bottom: 10px;
    filter: opacity(0.5);
    padding-left: 10%;
    border-left: solid 2px #a2ef2c;
}

.spazio-ricerca0:hover {
    filter: opacity(1);
}

.spazio-ricerca:hover {
    filter: opacity(1);
}

.ricerca a {
    color: white;
    text-decoration: none;
    margin-bottom: 4px;
    vertical-align: middle;
}

.caselle {
    width: 14%;
    vertical-align: middle;
}

/* PLAYLIST */

.playlist h3 {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    padding-left: 10%;
}

.lista-scorrevole {
    width: 100%;
    height: 280px;
    background-color: crimson;
    overflow-y: auto;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

/* LATO DESTRO MAIN */

.container-destro {
    width: calc(100vw - 200px);
    height: 100%;
    background-color: #141922;
}

/* UPGRADE */

.upgrade-zone {
    background-color: rgba(0,0,0,0.5);
    height: 12%;
    width: 100%;
}

.bottone {
    text-align: end;
}

button:hover {
  transform: scale(1.1); 
}

.upgrade-zone button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 30px;
    padding: 9px 38px;
    margin-top: 15px;
    margin-right: 4px;
}

/* SOTTO */

.container-sotto {
    overflow-y: auto;
    width: 100%;
    height: 88%;
}


/* FOOTER */

.footer-container {
    height: 100px;
    /*debgub*/
    background-color: #282828;
}








/* RESPONSIVE */

/* EXTRA SMALL*/

 @media screen and (max-width: 553px) {

    /*Grandezza container*/

    .container-sinistro {
    width: 40px;
    }

   .container-destro {
    width: calc(100vw - 40px);
    } 

    /*Interno container*/

    .canc {
        display: none;
    }

    .logo {
        filter: opacity(0);
    }

    .logo2 {
        filter: opacity(1);
    }

    .caselle {
        width: 90%;
    }

    .caselle:hover {
        filter: opacity(1);
    }

    .spazio-ricerca0 {
        border: none;
        padding-left: 0;
    }

 }