body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

.main-container {
    display: flex;
    height: calc(100vh - 100px)
}

.container-sinistro {
    height: 100%;
    width: 15%;
    background-color: black;
    margin: 0;
}

.container-destro {
    width: 85%;
    height: 100%;
    background-color: #141922;
}

.container-sopra {
    background-color: rgba(0,0,0,0.5);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.container-sopra button {
    margin: 0;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 30px;
    padding: 0 30px;
}



.container-sotto {
    overflow-y: auto;
    width: 100%;
    height: 90%;
}


/* FOOTER */

.footer-container {
    height: 100px;
    /*debgub*/
    background-color: #282828;
}