body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

/* MAIN */

.main-container {
    display: flex;
    height: calc(100vh - 100px)
}

/* LATO SINISTRO MAIN */

.container-sinistro {
    height: 100%;
    width: 200px;
    background-color: black;
    margin: 0;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-size: 10px;
}

.spotify-playlist {
    max-width: 100%;
    height: 100%;
}

.spotify {
    position: relative;
    bottom: 49px;
    left: 13px;
}

.logo {
    width: 65%;
    margin-bottom: 20px;
    position: absolute;
    left: 8px;
}

.logo2 {
    position: absolute;
    filter: opacity(0);
    width: 80%;
    right: 18px;
}

.ricerca {
    margin-top: 55px;
    padding-top: 10px;
}

.spazio-ricerca {
    margin-bottom: 10px;
    filter: opacity(0.5);
}

.spazio-ricerca-barrata {
    margin-bottom: 10px;
    filter: opacity(0.5);
    padding-left: 9%;
    border-left: solid 3px #a2ef2c;
}

.spazio-ricerca-barrata:hover {
    filter: opacity(1);
}

.spazio-ricerca:hover {
    filter: opacity(1);
}

.ricerca a {
    color: white;
    text-decoration: none;
    margin-bottom: 4px;
    vertical-align: middle;
}

.caselle {
    width: 14%;
    vertical-align: middle;
}

/* PLAYLIST */

.playlist {
    margin-left: 10%;
}

.playlist h3 {
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

.lista-scorrevole {
    overflow-y: auto;
    height: 186px;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

.spazio-ricerca {
    margin-bottom: 10px;
}

.sfondo-plus {
    background-color: grey;
    padding: 6px;
    margin-right: 5px;
}

/* INSTALLAZIONE */

.installazione {
    position: absolute;
    bottom: 8px;
    left: 10%;
    width: 79%;
    margin: 0 auto;
}

.installazione a {
    color: white;
    text-decoration: none;
}

.installazione img {
    width: 15px;
}

.sfondo-pic {
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}

.installazione strong {
    vertical-align: middle;
    margin-left: 3px;
}

/* LATO DESTRO MAIN */

.container-destro {
    width: calc(100vw - 200px);
    height: 100%;
    background-color: #141922;
    overflow: hidden;
    overflow-y: auto;
}

/* UPGRADE */

.upgrade-zone {
    background-color: rgba(0,0,0,0.5);
    height: 12%;
    width: 100%;
}

.bottone {
    text-align: end;
}

button:hover {
  transform: scale(1.1); 
}

.upgrade-zone button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 30px;
    padding: 9px 38px;
    margin-top: 15px;
    margin-right: 4px;
}

/* TOP */

.top {
    margin: 0 auto;
}
.top hr {
    border-color: #a2ef2c;
    width: 30px;
    margin: 0;
    margin-left: 32px;
}

.top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.top li {
    padding: 0 10px;
    margin-bottom: 20px;
}
    

.opacita {
    filter: opacity(0.5);
    color: white;
}

.opacita:hover {
    filter: opacity(1);
}

/* CANZONI */

.container-brani-autori {
    width: 95%;
    margin: 0 auto;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }

.column {
    width: calc((100% / 6) - (100px / 6));
    text-align: center;
 }

.card {
    position: relative;
}

.card img {
    max-width: 100%;
    position: relative;
}

.titolo {
    margin-top: 10px;
    margin-bottom: 6px;
}

.sottotitolo {
    filter: opacity(0.5);
    font-size: 12px;
    margin-bottom: 16px;
}

.sezione-principale h2 {
    margin-bottom: 13px;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 50px;
}

.column:hover img {
  filter: brightness(70%);
}

.column:hover .play {
    opacity: 1;
}


/* SOTTO */


/* FOOTER */

.footer-container {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #282828;
    align-items: center;
}

/* RIPRODUZIONE BRANO */

.riproduzione-brano {
    padding-left: 10px;
    padding-right: 0;
    color: white;
}

.brano-scelto {
    display: flex;
    align-items: center;
}

.brano-scelto img {
    width: 60px;
}

.canzone-scelta {
    margin-left: 15px;
}

.canzone-scelta a {
    font-size: 10px;
    color: white;
    text-decoration: none;
    filter: opacity(0.5);
}

.canzone-scelta a:hover {
    filter: opacity(1);
    text-decoration: underline;
}

.like-save {
    display: flex;
    align-items: center;
    margin-left: 50px;
    filter: opacity(0.5);
}

.like-save div {
    margin-right: 5px;
}

.like-save div:hover {
    filter: opacity(1);
}


/* TEMPO */

.tempo {
    color: white;
    width: 70%;
}

.set-music {
    display: flex;
    justify-content: center;
}

.set-music ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    height: 26px;
}

.set-music li {
    margin-left: 12px;
    margin-right: 12px;
}

.play-f {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    width: 29px;
}

.play-f:hover {
    font-size: 27px; 
}

.minuto {
    display: flex;
    justify-content: center;
}

.minuto:hover .cerchio {
    display: block;
}

.cerchio {
    display: none;
    font-size: 12px;
}

.barra-completa {
    width: 10%;
    margin-left: 30px;
}

.barra-incompleta {
    width: 30%;
    filter: opacity(0.3);
    margin-right: 30px;
}
/* VOLUME */

.volume {
    display: flex;
    justify-items: end;
    color: white;
}

.barra-completa-vol {
    width: 20px;
    margin-left: 20px;
}

.barra-incompleta-vol {
    width: 40px;
    filter: opacity(0.3);
}

.volume:hover .cerchio {
    display: block;
}

.icone-volume {
    margin-left: 10px;
}







/* RESPONSIVE */

/* EXTRA SMALL*/

 @media screen and (max-width: 553px) {

    /*Grandezza container*/

    .container-sinistro {
    width: 40px;
    }

   .container-destro {
    width: calc(100vw - 40px);
    } 

    /*Interno container*/

    .canc {
        display: none;
    }
    
    .playlist {
        display: none;
    }

    .logo {
        filter: opacity(0);
    }

    .logo2 {
        filter: opacity(1);
    }

    .caselle {
        width: 90%;
    }

    .caselle:hover {
        filter: opacity(1);
    }

    .spazio-ricerca-barrata {
        border: none;
        padding-left: 0;
    }

    .installazione img {
        width: 90%;
    }
 }

  @media screen and (max-width: 878px) {

    .column {
    width: calc((100% / 4) - (60px / 4));
 }

  }

   @media screen and (max-width: 639px) {

    .column {
    width: calc((100% / 2) - (20px / 2));
 }

    .like-save {
        display: block;
        margin-left: 10px;
    }

    .set-music li {
        margin-left: 6px;
        margin-right: 6px;
    }

  }